/* カレンダー部分 */
.calendar-heading{
  margin: 15px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}
.calendar-heading a{
  color: black;
}
.calendar-heading a:hover{
  color: gray;
}
.wday-0 {
  color: red;
  background-color: #ffe3e1;
}
.wday-6 {
  color: blue;
  background-color: #ecefff;
}

.event_count{
  color: black;
}
li{
  list-style: none;
}
.list_title{
  font-size: large;
  margin-bottom: 5px;
}
.event_list{
  color: black;
  background-color: lightgoldenrodyellow;
  min-height: 200px;
  width: 300px;
  border: #3ccace 5px solid;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  right: 500px;
  top: 10%;
  background-color: #ffffff;
}
.hidden{
  display: none;
}
.close_btn{
  font-size: 10px;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0 5px;
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 2px 2px 4px gray;
  cursor: pointer;
}
.close_btn:hover {
  box-shadow: none;
}

/* 一覧表示部分 */
.event_content{
  overflow-wrap: break-word;
}
.del_btn{
  text-align: center;
}
.del_btn a{
  color: gray;
}
.del_btn a:hover{
  color: black;
}

/* 予定追加ボタン */
.event-btn {
  background: #3ccace;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 2px 2px 4px gray;
}
.event-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
}
.event-btn:hover {
  box-shadow: none;
}