.calendar-heading{
  font-size: 60px;
}

.wday-0 {
  color: red;
  background-color: rgb(255, 223, 223);
}
.wday-6 {
  color: blue;
  background-color: rgb(223, 223, 255);
} 
.event_name{
  color: black;
}

.event-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 2px 2px 4px gray;
}

.event-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

.event-btn:hover {
  box-shadow: none;
}