/* カレンダー部分 */
.calendar-heading{
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}
.calendar-heading a{
  color: black;
}
.calendar-heading a:hover{
  color: gray;
}
.wday-0 {
  color: red;
  background-color: #ffe3e1;
}
.wday-6 {
  color: blue;
  background-color: #ecefff;
} 
.day:hover {
  background-color: aquamarine;
}

.event_count{
  color: black;
}
li{
  list-style: none;
}
.event_name{
  color: black;
}

/* 予定追加ボタン */
.event-btn {
  background: #3ccace;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 2px 2px 4px gray;
}

.event-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

.event-btn:hover {
  box-shadow: none;
}